* {
	box-sizing: border-box;
}

body{
	color: #333;
	font-family: arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
}

* {
	text-decoration: none;
	color: #000;
}

.wrapper {
	margin: 0 auto;
	margin-left: 200px;
	width: 1000px;
}


header li {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

header li a {
	display: block;
	padding: 20px;
}

header li:hover a {
	background-color: #e26198;
	color: #fff;	
}

header li:hover .sub-menu {
	display: block;
}

.sub-menu {
	display: none;
	position: absolute;
	background-color: #e26198;
	width: 200px;
}

.sub-menu li {
	display: block;
}

.sub-menu li a {
	color: #fff;
}

.sub-menu li:hover a {
	background-color: #fff;
	color: #e26198;
}

section.wrapper {
	float: left;
	margin-top: 50px;
}

.logo {
	margin-top: 20px;
	margin-left: 250px;
	margin-bottom: 20px;
	height: 80px;
	width: 400px;
}

.avril2020{
	align-content: center;
	width: 600px;
	height: 800px
}

.head{
	border-bottom: 5px solid #e26198;
}

.footer{
	background-color: #e26198;
	height: 50px;
	text-align: center;
	color: #fff;
}
